# Lab 12 Data Analysis in Python

In [1]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 5.0 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('s3://jrf-ia241-bucket/house_price.xls')

## 3.1

In [4]:
df['unit_price'] = df['price']/df['area']
df.head(10)

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,unit_price
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357,149.188838
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282,82.817680
2,995,229900,3,2,single-family home,13504,1988,1456,76,947,157.898352
3,996,359000,5,4,single-family home,10130,1997,2903,79,951,123.665174
4,999,394000,3,2,single-family home,18295,2001,2616,73,709,150.611621
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366,90.883117
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328,148.500000
7,1003,134900,2,2,townhouse,2300,1994,920,56,328,146.630435
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362,97.966728
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137,104.097222

## 3.2

In [5]:
house_type_count = df.groupby('house_type')['house_type'].count()
print(house_type_count)

house_type
condo                  2
single-family home    36
townhouse              3
Name: house_type, dtype: int64

## 3.3

In [6]:
avg_price_more_than_two_bathrooms = df.loc[df['bathroom'] > 2, 'price'].mean()
print('The average price of a house with more than two bathrooms is ${:,.2f}'.format(avg_price_more_than_two_bathrooms))

The average price of a house with more than two bathrooms is $383,645.45

## 3.4

In [7]:
median_unit_price = df['unit_price'].median()
mean_unit_price = df['unit_price'].mean()

print('The median unit price is ${:,.2f}'.format(median_unit_price))
print('The mean unit price is ${:,.2f}'.format(mean_unit_price))

The median unit price is $130.13
The mean unit price is $167.46

## 3.5

In [8]:
avg_unit_price_by_house_type = df.groupby('house_type')['unit_price'].mean()
print(avg_unit_price_by_house_type)

house_type
condo                 113.666272
single-family home    173.472594
townhouse             131.162407
Name: unit_price, dtype: float64

## 3.6

In [9]:
from scipy import stats

x = df['area']
y = df['price']

slope, intercept, r_value, p_value, std_err = stats.linregress(x, y)

print('Slope: {:.2f}'.format(slope))
print('Intercept: {:.2f}'.format(intercept))
print('R-squared: {:.2f}'.format(r_value**2))
print('p-value: {:.2f}'.format(p_value))

Slope: 79.95
Intercept: 156254.76
R-squared: 0.23
p-value: 0.00

## 3.7

In [10]:
predicted_price = slope * 2000 + intercept
print('Predicted price for a 2,000 sqft house: ${:,.2f}'.format(predicted_price))

Predicted price for a 2,000 sqft house: $316,164.68