# Lecture 12 Data Analysis

## pandas.DataFrame
    ❑DataFrame is a 2-dimensional labeled data
    structure with columns of different types.
    ❑You can think of it like a spreadsheet or SQL
    table, or a dict of Series objects.
    ❑pandas has a set of top level reader functions
    that generally return a pandas DataFrame object.

In [4]:
!pip install xlrd #required to open excel

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: xlrd in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (2.0.1)

In [5]:
import pandas as pd

In [6]:
#read excel file from s3
df = pd.read_excel('s3://jrf-ia241-bucket/Diamonds.xls')

#return the first row
df.head()

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [7]:
#returns the last rows
df.tail()

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

## Access DataFrame Data

###### Describe()- quick summary of your data
###### df(i:j)- slice the rows
###### df[column_label]- select a single column
###### df.loc[df[column_label] = value]- select data by values

In [8]:
df.describe()

             IDNO      WEIGHT         PRICE
count  308.000000  308.000000    308.000000
mean   154.500000    0.630909   5019.483766
std     89.056162    0.277183   3403.115715
min      1.000000    0.180000    638.000000
25%     77.750000    0.350000   1625.000000
50%    154.500000    0.620000   4215.000000
75%    231.250000    0.850000   7446.000000
max    308.000000    1.100000  16008.000000

In [9]:
df[0:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [10]:
df['RATER']

0      GIA
1      GIA
2      GIA
3      GIA
4      GIA
      ...
303    HRD
304    HRD
305    HRD
306    HRD
307    HRD
Name: RATER, Length: 308, dtype: object

In [11]:
df.loc[df['PRICE']>1500]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1       2    0.30     E     VS1   GIA   1510
2       3    0.30     G    VVS1   GIA   1510
4       5    0.31     D     VS1   GIA   1641
5       6    0.31     E     VS1   GIA   1555
14     15    0.34     E     VS1   GIA   1693
..    ...     ...   ...     ...   ...    ...
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

[245 rows x 6 columns]

## DataFrame Simple Statistics

###### value_counts()- compute the frequency of unique values
###### count()- return the number of non-null value in a data object
###### mean(), median(), min(), max(), std(), var(), sem() - returns the mean, median, mininum, maximum, standard deviation, variance, and standard error

In [12]:
df['COLOR'].value_counts()

F    82
G    65
H    61
E    44
I    40
D    16
Name: COLOR, dtype: int64

In [13]:
df['COLOR'].count()

308

In [14]:
print(df['PRICE'].mean(),
     df['PRICE'].median(),
     df['PRICE'].min(),
     df['PRICE'].max(),
     df['PRICE'].std(),
     df['PRICE'].var(),
     df['PRICE'].sem())

5019.483766233766 4215.0 638 16008 3403.115715012962 11581196.569768183 193.91051432086505

In [15]:
df.mean()
#ignore the error message

/tmp/ipykernel_30157/1723418578.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

IDNO       154.500000
WEIGHT       0.630909
PRICE     5019.483766
dtype: float64

## DataFrame Data Aggregation and Assigment

###### df.groupby(column_label).calculation()- return aggregated results combined with calculations
###### df[new_column] = some calculation- create a new column with the calculated values

In [16]:
df.groupby('COLOR').mean()
#ignore error message

/tmp/ipykernel_30157/3080374311.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('COLOR').mean()

             IDNO    WEIGHT        PRICE
COLOR
D      128.812500  0.638125  7099.875000
E      140.590909  0.623182  5507.931818
F      149.012195  0.592927  4786.402439
G      159.492308  0.580769  4426.184615
H      165.704918  0.673443  4965.016393
I      166.125000  0.731000  5175.025000

In [17]:
df.groupby('COLOR').mean()['PRICE']

#average price by color

/tmp/ipykernel_30157/3256969036.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('COLOR').mean()['PRICE']

COLOR
D    7099.875000
E    5507.931818
F    4786.402439
G    4426.184615
H    4965.016393
I    5175.025000
Name: PRICE, dtype: float64

In [18]:
df['UNIT_PRICE'] = df['PRICE']/df['WEIGHT']
df[:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE   UNIT_PRICE
0     1    0.30     D     VS2   GIA   1302  4340.000000
1     2    0.30     E     VS1   GIA   1510  5033.333333
2     3    0.30     G    VVS1   GIA   1510  5033.333333
3     4    0.30     G     VS1   GIA   1260  4200.000000
4     5    0.31     D     VS1   GIA   1641  5293.548387

## Simple Linear Regression 
    Simple linear regression is a linear regression model with a single explanatory variable
    Y = a X + b
    ❑X: independent variable
    ❑Y: dependent variable
    ❑a: slop
    ❑b: intercept
    ❑r square: how close the data are to the fitted regression line
    ❑p value: A low p-value (< 0.05) indicates that you can reject the null hypothesis

### Simple Linear Regression in scipy

###### scipy.stats.linregress (x,y)- Calculate a linear OLS Regression

In [19]:
from scipy import stats

In [20]:
# x first, y second
model = stats.linregress(df['WEIGHT'],df['PRICE'])

In [21]:
print(model.slope)
print(model.intercept)

11598.884012882309
-2298.3576018937993

In [22]:
print(0.5 * model.slope + model.intercept)

3501.084404547355

## Sentiment Analysis
    ❑Computationally identifying and categorizing opinions expressed in a piece of text
    ❑Polarity: a float within the range [-1.0, 1.0] where -1 is very negative and 1 is very positive. 
    ❑Subjectivity: a float within the range [0.0, 1.0] where 0.0 is very objective and 1.0 is very subjective.

In [23]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 636.8/636.8 kB 10.3 MB/s eta 0:00:0000:01
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from textblob) (3.8.1)
Requirement already satisfied: regex>=2021.8.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (2022.10.31)
Requirement already satisfied: joblib in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: tqdm in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: click in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (8.1.3)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [24]:
from textblob import TextBlob

In [25]:
result = TextBlob('I love dog')

In [26]:
print(result.sentiment.polarity)
print(result.sentiment.subjectivity)

0.5
0.6